<div class="sidebar">
    <h2>DOC'S-UGQ</h2>
    <ul>
        <li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Página Inicial</a></li>
        <li><a href="{{ url_for('publicados2') }}"><i class="fas fa-file-alt"></i> Documentos</a></li>
        <li><a href="{{ url_for('estatisticas') }}"><i class="fas fa-chart-line"></i> Relatórios</a></li>
        {% if session.get('nivel_acesso') == 'elevado' %}
        <li><a href="{{ url_for('admin_panel') }}"><i class="fas fa-cogs"></i> Configurações</a></li>
        {% endif %}
        <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </ul>
</div>
